<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <style media="screen">

    body {
     margin:0;
     padding:0;
     background:black;
     color:white;
     font-family: 'Rubik', sans-serif;
    }
    p {
     font-size:50px;
     display:block;
     text-align:center;
     line-height:100px;
     height:100px;
     margin-top:40vh;
     text-transform:uppercase;
     letter-spacing:10px
    }

    </style>
  </head>
  <body>
    <p>GROUND ZERO - live market data</p>

    <script src="{% static "javascript/index.js" %}" charset="utf-8"></script>
  </body>
</html>
